<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments for Affected By Truth	</title>
	<atom:link href="/comments/feed/" rel="self" type="application/rss+xml" />
	<link></link>
	<description></description>
	<lastBuildDate>Tue, 19 May 2015 22:25:25 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	
	<item>
		<title>
		Comment on Upholding Polity out of Christian Love by Russell		</title>
		<link>/upholding-polity-out-of-christian-love/#comment-1977</link>

		<dc:creator><![CDATA[Russell]]></dc:creator>
		<pubDate>Tue, 19 May 2015 22:25:25 +0000</pubDate>
		<guid isPermaLink="false">/?p=1594#comment-1977</guid>

					<description><![CDATA[I re-read your post and the associated scriptures and a few nagging questions remain. 

It seems in the opening paragraphs you are saying that Christian testimony, baptism and church membership is equivalent to walking in obedience to Christ? If so, that is a very narrow definition of obedience.

1Cor. 11:29 says that whoever eats or drinks without discerning the body eats and drinks judgment. Unless you think &quot;discerning the body&quot; means testimony, baptism and church membership you are guilty of proof-texting.
 
In Scripture it’s unequivocally assumed that one’s union with Christ and His Church will be demonstrated in baptism (see Rom 6:3-4; Col 2:12; Eph 4:5), followed by membership in a local church and consequent communion with that church in the Lord’s Supper. Baptism and the Lord’s Supper serve respectively as the initiating and continuing acts of Christian faith.
The three verses you highlight all reference union with Christ. You add and His Church. I am not saying you don&#039;t have some logical reason for doing so, but the verses you cite don&#039;t say that.]]></description>
			<content:encoded><![CDATA[<p>I re-read your post and the associated scriptures and a few nagging questions remain. </p>
<p>It seems in the opening paragraphs you are saying that Christian testimony, baptism and church membership is equivalent to walking in obedience to Christ? If so, that is a very narrow definition of obedience.</p>
<p>1Cor. 11:29 says that whoever eats or drinks without discerning the body eats and drinks judgment. Unless you think &#8220;discerning the body&#8221; means testimony, baptism and church membership you are guilty of proof-texting.</p>
<p>In Scripture it’s unequivocally assumed that one’s union with Christ and His Church will be demonstrated in baptism (see Rom 6:3-4; Col 2:12; Eph 4:5), followed by membership in a local church and consequent communion with that church in the Lord’s Supper. Baptism and the Lord’s Supper serve respectively as the initiating and continuing acts of Christian faith.<br />
The three verses you highlight all reference union with Christ. You add and His Church. I am not saying you don&#8217;t have some logical reason for doing so, but the verses you cite don&#8217;t say that.</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on Upholding Polity out of Christian Love by Russell		</title>
		<link>/upholding-polity-out-of-christian-love/#comment-1976</link>

		<dc:creator><![CDATA[Russell]]></dc:creator>
		<pubDate>Tue, 19 May 2015 03:47:33 +0000</pubDate>
		<guid isPermaLink="false">/?p=1594#comment-1976</guid>

					<description><![CDATA[How do you pick which sin makes a persons profession not credible? Why pick church membership? A member of a goofy church is credible but a Calvary Christian church attendee is not? Any verses I can check?]]></description>
			<content:encoded><![CDATA[<p>How do you pick which sin makes a persons profession not credible? Why pick church membership? A member of a goofy church is credible but a Calvary Christian church attendee is not? Any verses I can check?</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on Does the Lord Want a Birthday? by Russell		</title>
		<link>/does-the-lord-want-a-birthday/#comment-1862</link>

		<dc:creator><![CDATA[Russell]]></dc:creator>
		<pubDate>Wed, 11 Dec 2013 04:04:03 +0000</pubDate>
		<guid isPermaLink="false">/?p=1493#comment-1862</guid>

					<description><![CDATA[I am tracking with you.  I know there is a sharp curve ahead, but I really am going to try to make the turn with you.]]></description>
			<content:encoded><![CDATA[<p>I am tracking with you.  I know there is a sharp curve ahead, but I really am going to try to make the turn with you.</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on Revising Christmas, Again by Steve		</title>
		<link>/revising-christmas-again/#comment-1860</link>

		<dc:creator><![CDATA[Steve]]></dc:creator>
		<pubDate>Tue, 10 Dec 2013 19:28:15 +0000</pubDate>
		<guid isPermaLink="false">/?p=1487#comment-1860</guid>

					<description><![CDATA[In reply to &lt;a href=&quot;/revising-christmas-again/#comment-1856&quot;&gt;Russell&lt;/a&gt;.

Thanks, Russell. I do hope it&#039;s more help than &quot;humbug&quot; (thought, admittedly, that can be fun, too). Hopefully, it helps us enjoy what the Lord gives us (1 Tim 6:17), without losing the truth about Him and His Gospel in the process.]]></description>
			<content:encoded><![CDATA[<p>In reply to <a href="/revising-christmas-again/#comment-1856">Russell</a>.</p>
<p>Thanks, Russell. I do hope it&#8217;s more help than &#8220;humbug&#8221; (thought, admittedly, that can be fun, too). Hopefully, it helps us enjoy what the Lord gives us (1 Tim 6:17), without losing the truth about Him and His Gospel in the process.</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on Revising Christmas, Again by Russell		</title>
		<link>/revising-christmas-again/#comment-1856</link>

		<dc:creator><![CDATA[Russell]]></dc:creator>
		<pubDate>Sat, 07 Dec 2013 18:06:30 +0000</pubDate>
		<guid isPermaLink="false">/?p=1487#comment-1856</guid>

					<description><![CDATA[I appreciate your efforts to get us to think biblically about Christmas.  I&#039;ve largely given up because I fear my efforts obscure more than reveal the glory of God in the face of Jesus.  I point people to your helpful teaching on this subject.]]></description>
			<content:encoded><![CDATA[<p>I appreciate your efforts to get us to think biblically about Christmas.  I&#8217;ve largely given up because I fear my efforts obscure more than reveal the glory of God in the face of Jesus.  I point people to your helpful teaching on this subject.</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on Do We Care About Persecuted Christians? by New Post: Do We Care About Persecuted Christians? &#124; Truth2Freedom&#039;s Blog		</title>
		<link>/do-we-care-about-persecuted-christians/#comment-1851</link>

		<dc:creator><![CDATA[New Post: Do We Care About Persecuted Christians? &#124; Truth2Freedom&#039;s Blog]]></dc:creator>
		<pubDate>Sat, 19 Oct 2013 07:55:07 +0000</pubDate>
		<guid isPermaLink="false">/?p=1473#comment-1851</guid>

					<description><![CDATA[[&#8230;] Read More Here [&#8230;]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] Read More Here [&#8230;]</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on Do American Christians Care About Persecuted Christians? by Do American Christians Care About Persecuted Christians? &#124; Truth2Freedom&#039;s Blog		</title>
		<link>/do-american-christians-care-about-persecuted-christians/#comment-1529</link>

		<dc:creator><![CDATA[Do American Christians Care About Persecuted Christians? &#124; Truth2Freedom&#039;s Blog]]></dc:creator>
		<pubDate>Thu, 12 Sep 2013 18:16:53 +0000</pubDate>
		<guid isPermaLink="false">/?p=1459#comment-1529</guid>

					<description><![CDATA[[...] Read More Here: /do-american-christians-care-about-persecuted-christians/ [...]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] Read More Here: <a href="/do-american-christians-care-about-persecuted-christians/" rel="nofollow ugc">/do-american-christians-care-about-persecuted-christians/</a> [&#8230;]</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on Pray for a Soft Heart and Retentive Memory by Affected By Truth: Pray for a Soft Heart and Retentive Memory &#124; Truth2Freedom&#039;s Blog		</title>
		<link>/pray-for-a-soft-heart-and-retentive-memory/#comment-1523</link>

		<dc:creator><![CDATA[Affected By Truth: Pray for a Soft Heart and Retentive Memory &#124; Truth2Freedom&#039;s Blog]]></dc:creator>
		<pubDate>Sun, 08 Sep 2013 07:55:08 +0000</pubDate>
		<guid isPermaLink="false">/?p=1436#comment-1523</guid>

					<description><![CDATA[[...] Source: /pray-for-a-soft-heart-and-retentive-memory/ [...]]]></description>
			<content:encoded><![CDATA[<p>[&#8230;] Source: <a href="/pray-for-a-soft-heart-and-retentive-memory/" rel="nofollow ugc">/pray-for-a-soft-heart-and-retentive-memory/</a> [&#8230;]</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on Yes, It&#8217;s The Price of Citizenship by Steve		</title>
		<link>/yes-its-the-price-of-citizenship/#comment-1519</link>

		<dc:creator><![CDATA[Steve]]></dc:creator>
		<pubDate>Sat, 07 Sep 2013 21:58:17 +0000</pubDate>
		<guid isPermaLink="false">/?p=1430#comment-1519</guid>

					<description><![CDATA[Thanks, Ken, that&#039;s mighty thoughtful of you! I actually once knew a pastor who had a WWII era bomb-shelter in the lawn of his backyard, not a bad idea for different reasons, today.

Though any persecution which may come is &quot;your opportunity to bear witness&quot; (Luke 21:13). And He&#039;ll always tell us what to say (vv. 14-15) - I think that&#039;s why so many martyrs have had such powerful and poignant final words despite being in such a terrifying position. The grace of Christ&#039;s Spirit.

Still... they&#039;ll have to find me in your shelter first! :)]]></description>
			<content:encoded><![CDATA[<p>Thanks, Ken, that&#8217;s mighty thoughtful of you! I actually once knew a pastor who had a WWII era bomb-shelter in the lawn of his backyard, not a bad idea for different reasons, today.</p>
<p>Though any persecution which may come is &#8220;your opportunity to bear witness&#8221; (Luke 21:13). And He&#8217;ll always tell us what to say (vv. 14-15) &#8211; I think that&#8217;s why so many martyrs have had such powerful and poignant final words despite being in such a terrifying position. The grace of Christ&#8217;s Spirit.</p>
<p>Still&#8230; they&#8217;ll have to find me in your shelter first! 🙂</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on Yes, It&#8217;s The Price of Citizenship by Ken Miller		</title>
		<link>/yes-its-the-price-of-citizenship/#comment-1379</link>

		<dc:creator><![CDATA[Ken Miller]]></dc:creator>
		<pubDate>Wed, 28 Aug 2013 18:58:06 +0000</pubDate>
		<guid isPermaLink="false">/?p=1430#comment-1379</guid>

					<description><![CDATA[I&#039;ve been thinking, if the Lord ever blesses me with the finances to buy a home, I&#039;m going to build an underground shelter for you and Greg.  That way you can hide when the try to arrest you for not marrying homosexuals...I&#039;m only half-kidding.]]></description>
			<content:encoded><![CDATA[<p>I&#8217;ve been thinking, if the Lord ever blesses me with the finances to buy a home, I&#8217;m going to build an underground shelter for you and Greg.  That way you can hide when the try to arrest you for not marrying homosexuals&#8230;I&#8217;m only half-kidding.</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
