<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Upholding Polity out of Christian Love	</title>
	<atom:link href="/upholding-polity-out-of-christian-love/feed/" rel="self" type="application/rss+xml" />
	<link>/upholding-polity-out-of-christian-love/?utm_source=rss&#038;utm_medium=rss&#038;utm_campaign=upholding-polity-out-of-christian-love</link>
	<description></description>
	<lastBuildDate>Tue, 19 May 2015 22:25:25 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	
	<item>
		<title>
		By: Russell		</title>
		<link>/upholding-polity-out-of-christian-love/#comment-1977</link>

		<dc:creator><![CDATA[Russell]]></dc:creator>
		<pubDate>Tue, 19 May 2015 22:25:25 +0000</pubDate>
		<guid isPermaLink="false">/?p=1594#comment-1977</guid>

					<description><![CDATA[I re-read your post and the associated scriptures and a few nagging questions remain. 

It seems in the opening paragraphs you are saying that Christian testimony, baptism and church membership is equivalent to walking in obedience to Christ? If so, that is a very narrow definition of obedience.

1Cor. 11:29 says that whoever eats or drinks without discerning the body eats and drinks judgment. Unless you think &quot;discerning the body&quot; means testimony, baptism and church membership you are guilty of proof-texting.
 
In Scripture it’s unequivocally assumed that one’s union with Christ and His Church will be demonstrated in baptism (see Rom 6:3-4; Col 2:12; Eph 4:5), followed by membership in a local church and consequent communion with that church in the Lord’s Supper. Baptism and the Lord’s Supper serve respectively as the initiating and continuing acts of Christian faith.
The three verses you highlight all reference union with Christ. You add and His Church. I am not saying you don&#039;t have some logical reason for doing so, but the verses you cite don&#039;t say that.]]></description>
			<content:encoded><![CDATA[<p>I re-read your post and the associated scriptures and a few nagging questions remain. </p>
<p>It seems in the opening paragraphs you are saying that Christian testimony, baptism and church membership is equivalent to walking in obedience to Christ? If so, that is a very narrow definition of obedience.</p>
<p>1Cor. 11:29 says that whoever eats or drinks without discerning the body eats and drinks judgment. Unless you think &#8220;discerning the body&#8221; means testimony, baptism and church membership you are guilty of proof-texting.</p>
<p>In Scripture it’s unequivocally assumed that one’s union with Christ and His Church will be demonstrated in baptism (see Rom 6:3-4; Col 2:12; Eph 4:5), followed by membership in a local church and consequent communion with that church in the Lord’s Supper. Baptism and the Lord’s Supper serve respectively as the initiating and continuing acts of Christian faith.<br />
The three verses you highlight all reference union with Christ. You add and His Church. I am not saying you don&#8217;t have some logical reason for doing so, but the verses you cite don&#8217;t say that.</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Russell		</title>
		<link>/upholding-polity-out-of-christian-love/#comment-1976</link>

		<dc:creator><![CDATA[Russell]]></dc:creator>
		<pubDate>Tue, 19 May 2015 03:47:33 +0000</pubDate>
		<guid isPermaLink="false">/?p=1594#comment-1976</guid>

					<description><![CDATA[How do you pick which sin makes a persons profession not credible? Why pick church membership? A member of a goofy church is credible but a Calvary Christian church attendee is not? Any verses I can check?]]></description>
			<content:encoded><![CDATA[<p>How do you pick which sin makes a persons profession not credible? Why pick church membership? A member of a goofy church is credible but a Calvary Christian church attendee is not? Any verses I can check?</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
