<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom" xmlns:sy="http://purl.org/rss/1.0/modules/syndication/">
	<channel>
		<title>
			Comments on: About </title>
		<atom:link href="/about/feed/" rel="self" type="application/rss+xml" />
		<link>https://affectedbytruth.com</link>
		<description></description>
		<lastBuildDate>Thu, 30 May 2019 05:31:11 +0000</lastBuildDate>
		<sy:updatePeriod>
			hourly </sy:updatePeriod>
		<sy:updateFrequency>
			1 </sy:updateFrequency>

	</channel>
</rss>
